*************************************************
*                                               *
* DRILL TAPE SUMMARY REPORT                     *
*                                               *
* C:\USERS\ATRIM_PCB\DESKTOP\TEST\DESIGN31.MAX  *
* Mon Dec 01 17:44:04 2014                      *
*                                               *
*************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       35       86       200      100                                                                                 
T2       39       25       200      100                                                                                 
