**************************************************************************************
*                                                                                    *
* DRILL TAPE SUMMARY REPORT                                                          *
*                                                                                    *
* D:\ATRIM ELECTRONICS(P)LTD\MODULES\81.HEX INJECTOR\HEX INJECTOR V1.1\DESIGN31.MAX  *
* Thu Dec 04 16:33:29 2014                                                           *
*                                                                                    *
**************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       35       85       200      100                                                                                 
T2       39       43       200      100                                                                                 
