**************************************************************
*                                                            *
* DRILL TAPE SUMMARY REPORT                                  *
*                                                            *
* C:\USERS\ATRIM_PCB\DESKTOP\HEX INJECTOR V1.2\DESIGN31.MAX  *
* Tue Feb 03 16:48:34 2015                                   *
*                                                            *
**************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       35       124      200      100                                                                                 
T2       39       43       200      100                                                                                 
T3       118      4        200      100                                                                                 
